{% extends 'base.html.twig' %}

{% block title %} BeerBoard{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}
{% block body %}

    <header>
        <nav class="navbar navbar-default navbar-static-top navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->


                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="{{ asset('img/chelapp.png') }}" style="height: 50px; width:50px;">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand appname" href="#">ChelApp 1.0</a>
                </div>


                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" data-target="#myModal1" href="#">Acerca de</a></li>
                                <li><a data-toggle="modal" data-target="#myModal2" href="#">Help text</a></li>
                                <li><a data-toggle="modal" data-target=".bs-example-modal-sm" href="#">Export</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a data-toggle="modal" data-target=".bs-example-modal-sm" href="#">History</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>


    <div id="wrapper" class="content">
        <div id="container"  ng-controller="BeerBoardController as board">



            <div class="panel panel-default">
                <div class="panel-body">




                    <div class="board ">
                        <div class="row" ng-repeat="member in board.info" ng-class="{'last':$last}">
                            <div class="line ">

                                <div class="col-sm-2 vertical-align">

                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object icon" ng-src="/img/{{ '{{' }} member.nombre {{ '}}' }}.jpeg" >
                                            </a>
                                        </div>
                                    </div>
                                    <div class="member-name">
                                        <h4 class="mediabody"> {{ '{{' }} member.nombre {{ '}}' }} </h4>
                                    </div>
                                </div>
                                <div class="col-sm-1 vertical-align">
                                    <span class="badge">
                                        {{ '{{' }} member.total {{ '}}' }}
                                    </span>
                                </div>
                                <div id="cheve-desc" class="col-sm-7 vertical-align">

                                <div ng-show="member.total  >= 100  ">

                                    <div class="media">
                                        <img class="icon" src="{{ asset('img/100.png') }}" />
                                        <span class="badge badge-success pull-right">{{ '{{' }}  Math.floor(member.total / 100) {{ '}}' }}</span>
                                    </div>
                                    <div ng-if="member.total==member.total_flag">
                                        {{ '{{' }}  member.total_flag = getMod(member.total_flag , 100) {{ '}}' }}
                                    </div>
                                </div>
                                    <div ng-show="member.total  >= 50  && Math.floor(member.total%100 ) >=50">

                                        <div class="media">
                                            <img class="icon" src="{{ asset('img/50.png') }}" />
                                            <span class="badge badge-success pull-right">{{ '{{' }} Math.floor(member.total%100 / 50) {{ '}}' }}</span>
                                        </div>

                                        <div ng-if="member.total==member.total_flag">
                                        {{ '{{' }}  member.total_flag = getMod(member.total_flag , 50) {{ '}}' }}
                                        </div>

                                    </div>

                                    <div ng-show="member.total  >= 30 && Math.floor(member.total%100 )%50 >=30 ">

                                        <div class="media">
                                            <img class="icon" src="{{ asset('img/30.png') }}" />
                                            <span class="badge badge-success pull-right">{{ '{{' }} Math.floor((member.total%100)%50 / 30) {{ '}}' }}</span>
                                        </div>

                                        <div ng-if="member.total==member.total_flag">
                                            {{ '{{' }}  member.total_flag = getMod(member.total_flag , 30) {{ '}}' }}
                                        </div>

                                    </div>

                                    <div ng-show="member.total  >= 20  && ((member.total%100) % 50 )%30 >=20">

                                        <div class="media">
                                            <img class="icon" src="{{ asset('img/20.png') }}" />
                                            <span class="badge badge-success pull-right">{{ '{{' }} Math.floor(((member.total%100)%50 )%30 / 20) {{ '}}' }}</span>
                                        </div>

                                        <div ng-if="member.total==member.total_flag">
                                            {{ '{{' }}  member.total_flag = getMod(member.total_flag , 20) {{ '}}' }}
                                        </div>

                                    </div>
                                    <div ng-show="member.total_flag  <= 19 && member.total_flag   >= 1 ">
                                        <div class="media">
                                            <img class="icon" src="{{ asset('img/1-19.png') }}" />
                                            <span class="badge badge-success pull-right">{{ '{{' }} member.total_flag {{ '}}' }}</span>
                                        </div>


                                    </div>


                                    <div ng-show="member.total  == 0  ">

                                        <div class="media">
                                            <img class="icon" src="{{ asset('img/0.png') }}" />
                                            <span class="badge badge-success pull-right">{{ '{{' }}  {{ '}}' }}</span>
                                        </div>


                                    </div>

                                </div>

                                <div class="col-sm-2">
                                    <a href="#" class="btn btn-block btn-lg btn-default"
                                       ng-click="add(member)"><span class="glyphicon glyphicon-plus"></span> </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Chelapp 1.0</h4>
                </div>
                <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-8 vertical-align">
                                <div class="member-name">
                                    <span class="mediabody"> Su finalidad es llevar el conteo de chelas </span>
                                </div>
                            </div>
                        </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Help Text</h4>
                </div>
                <div class="modal-body">


                    <div class="row">
                        <div class="col-sm-2 vertical-align">

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object icon" src="/img/0.png" >
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 vertical-align">
                            <div class="member-name">
                                <h4 class="mediabody"> No hay adeudo </h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2 vertical-align">

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object icon" src="/img/1-19.png" >
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 vertical-align">
                            <div class="member-name">
                                <h4 class="mediabody"> 1 cheve </h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2 vertical-align">

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object icon" src="/img/20.png" >
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 vertical-align">
                            <div class="member-name">
                                <h4 class="mediabody"> 20 cheves = un carton </h4>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-2 vertical-align">

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object icon" src="/img/30.png" >
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 vertical-align">
                            <div class="member-name">
                                <h4 class="mediabody"> 30 cheves = una botella </h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2 vertical-align">

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object icon" src="/img/50.png" >
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 vertical-align">
                            <div class="member-name">
                                <h4 class="mediabody"> 50 cheves = un barril </h4>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-2 vertical-align">

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object icon" src="/img/100.png" >
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 vertical-align">
                            <div class="member-name">
                                <h4 class="mediabody"> 100 cheves, envien el camion </h4>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                No implementada, pendiente para R10,
                </br>
                // TODO agregar un togle
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                <a href="http://reynol.io">
                    <span class="text-nowrap">&copy;<span id="footer-year"></span> Reynol</span>
                    <span class="text-nowrap">Todos los derechos reservados.</span>
                </a>  
            </p>
              
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>


    <script src="{{ asset('js/beerboardApp.js') }}"></script>
<script>
     $( document ).ready(function() {
        
        $("#footer-year").html(new Date().getFullYear());
    });
</script>

{% endblock %}